root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
# indent_style = space
# indent_size = 4

[*.{js,cjs,ts}]
indent_style = tab
indent_size = 4
max_line_length = 100

[*.json]
indent_style = tab
indent_size = 4

[*.move]
max_line_length = 100

[*.{md,rst}]
trim_trailing_whitespace = false

[*.{html,mako,less,org}]
indent_style = tab

[*.yml]
indent_style = space
