name: Sui Move Tests

on:
  pull_request:
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: mysten/sui-tools:ci
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: sui move build
      - name: Run test
        run: sui move test
      # Enable when support --coverage flag in sui-tools docker
      # - name: coverage test
      #   run:  sui move test --coverage
      # - name: Check test coverage
      #   run:  echo "check test coverage range"
